/* You can add global styles to this file, and also import other style files */


@import "./styles/global-overrides";

.card-button-cancel {
  background-color: greenyellow !important; // sobrescreve a folha de estilos local
}

mat-slider .mdc-slider__track--active_fill {
  border-color: blue !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
